.Subscribe {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #dfe7ec;
}

.Subscribe p {
    margin-bottom: 10px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;

    line-height: 28px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #1C1C1C;
}

.Subscribe span {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;

    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #606060;
    margin-bottom: 25px;
    display: block;
}

.Subscribe form {
    display: flex;
    /* align-items: center; */
    gap: 20px;
    justify-content: center;
}

.Subscribe form input {
    min-width: 300px;
    padding: 6px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    box-shadow: 0 0 4px 2px #dfdfdf;
}
@media(max-width:470px){
    .Subscribe form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    justify-content: center;
}
}
.Subscribe form input::placeholder {
    transition: 0.4s;
}

.Subscribe form input:focus::placeholder {
    opacity: 0;
}

.Subscribe form button {
    background-color: #127FFF;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background: none;
    border: none;
    background-color: #127FFF;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius: 8px;
}