:root {
    --mainColorblue: #0D6EFD;
    --mainColorBlack: #1C1C1C;
    --mainGray: #8B96A5;
}

ul {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;

}


.anotherOrder{
    margin-bottom: 20px;
}
.anotherOrder .container{
    position: relative;
    background-image: url(../../Images/image_Order_qui.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    overflow: hidden;
    
}

.anotherOrder .container > *{
    position: relative;
    z-index: 1;
}
.anotherOrder .container::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(#2C7CF1 , #00D1FF80);
    top: 0px;
    left: 0px;
    z-index: 0;
    pointer-events: none;
}

.anotherOrder .container .left {
    /* width: 50%; */
    padding: 50px;
}
@media(max-width:992px){
    .anotherOrder .container .left {
        padding-bottom: 0px;
}
}



.anotherOrder .container .left p{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 32px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: -0.2px;
color: #FFFFFF;
margin-bottom: 15px;
}
.anotherOrder .container .left span{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: -0.2px;
color: #FFFFFF;
}
.anotherOrder .container .right{
    padding: 50px;
}

.anotherOrder .container .right form{

    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 7px;
    /* width: 100%; */
}
.anotherOrder .container .right form p{
    font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 20px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: -0.2px;
color: #1C1C1C;
}

.anotherOrder .container .right form select,
.anotherOrder .container .right form textarea,
.anotherOrder .container .right form input{
    padding: 8px;
    display: block;
    margin-bottom: 20px;
        border: none;
    border: 1px solid #DEE2E7;
}
.anotherOrder .container .right form textarea,
.anotherOrder .container .right form input[type="text"]{
    width: 100%;
    border-radius: 7px;
    border: none;
    border: 1px solid #DEE2E7;
}
.anotherOrder .container .right form input[type="text"]::placeholder,
.anotherOrder .container .right form input[type="number"]::placeholder
{
font-family: Inter;
font-weight: 400;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
color: #1C1C1C;
}


.anotherOrder .container .right .count{
    display: flex;
    gap: 10px;
}
.anotherOrder .container .right .count input,
.anotherOrder .container .right select{
        border-radius: 7px;
}
.anotherOrder .container .right .count input{
    width: 150px;
}

.anotherOrder .container .right button{
    background: none;
    border: none;
    color: white;
    background-color: var(--mainColorblue);
}


@media(max-width:992px){
        .anotherOrder .container .left{
    padding: 30px ;
}
    .anotherOrder .container .right{
    padding: 30px;
}
.anotherOrder .container .right form{

    padding: 20px 10px; 
    background-color: #FFFFFF;
    border-radius: 7px;
    /* width: 100%; */
}
}


@media(max-width:768px){
    .anotherOrder .container .left {
        padding: 20px 10px ;
}
.anotherOrder .container .right{
          padding: 0 ;
          padding-bottom: 20px;
}
}



@media(max-width:567px){
    .anotherOrder .container .left {
        padding: 20px 0px ;
        
}
.anotherOrder .container .right{
          padding: 0 ;
          padding-bottom: 20px;
}
}