:root {
    --mainColorblue: #0D6EFD;
    --mainColorBlack: #1C1C1C;
    --mainGray: #8B96A5;
}

ul {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;

}



.HerSection {
    margin-top: 20px;
}
@media(max-width:992px){
   .HerSection {
    margin-top: 60px;
   } 
}

@media(max-width:992px){
   .HerSection {
    margin-top: 60px;
   } 
   .swiper-slide{
/* margin: 0px !important; */
   }
   .col-lg-6{
    margin: 0px !important;
   }
}


.HerSection .row {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #DEE2E7;
    border-radius: 10px;

}

.HerSection .container {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.HerSection .row .col-lg-3 ul li {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    padding: 13px;
    border-radius: 10px;
    transition: 0.3s;
    color: #505050;
}

.HerSection .row .col-lg-3 ul .activeee {
    background-color: #E5F1FF;

}

.HerSection .row .col-lg-3 ul .activeee a {
    color: var(--mainColorBlack);
}

.HerSection .row .col-lg-3 ul li a {
    text-decoration: none;
    color: #505050;
}

.HerSection .row .col-lg-3 ul li:hover {
    background-color: #E5F1FF;
}


.HerSection .row .col-lg-6 {
    background-image: url(../../Images/banner-hero-section.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.HerSection .row .col-lg-6 .swiper-slide {
    padding: 50px;
}

.HerSection .row .col-lg-6 .swiper-slide p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 8px;

}

.HerSection .row .col-lg-6 .swiper-slide p+h2 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;


}

.HerSection .row .col-lg-6 .swiper-slide .link {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    /* text-align: center; */
    padding: 12px;
    color: var(--mainColorBlack);
    background-color: #FFFFFF;
    display: block;
    color: #1C1C1C !important;
    border-radius: 10px;
    margin-top: 10px;
    width: fit-content;
    box-shadow: 0px 1px 2px 0px #38383814;

}

.HerSection .row .col-lg-6+.col-lg-3 .login {
    background-color: #E3F0FF;
    padding: 15px;
}

.HerSection .row .col-lg-6+.col-lg-3 .login div:first-child {
    display: flex;
    align-self: center;
    gap: 20px;
    margin-bottom: 20px;

    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
}

.HerSection .row .col-lg-6+.col-lg-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.HerSection .row .col-lg-6+.col-lg-3 .login {
    border-radius: 10px;
}

.HerSection .row .col-lg-6+.col-lg-3 .login div:first-child+a {
    background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 13px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding: 13px;
    border: none;
    color: #FFFFFF;
}

.HerSection .row .col-lg-6+.col-lg-3 .login div:first-child+a+a {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 13px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--mainColorblue);
    padding: 13px;
    background-color: #FFFFFF;
    border: none;
}

.getOffer {
    background-color: #F38332;
    padding: 15px;
    border-radius: 10px;
}

.getOffer p {
    max-width: 130px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.sendQuotes {
    background-color: #55BDC3;
    padding: 15px;
    border-radius: 10px;
}

.sendQuotes p {
    max-width: 150px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    color: #FFFFFF;
}

@media(max-width:992px){
    .col-3{
        display: none !important;
}

.HerSection .row {
    padding-top: 0px;
    padding-bottom: 0px;
}
.swiper-slide{
    min-height: 260px;
}
.HerSection .row .col-lg-6 .swiper-slide {
    padding: 30px 20px;
}
}